language: node_js
node_js:
  - "0.10"
branches:
  only:
    - master
script: npm run-script test-travis
after_script:
  - npm install -g coveralls@2
  - cat ./coverage/lcov.info | coveralls
  - npm install -g codeclimate-test-reporter
  - cat ./coverage/lcov.info | codeclimate
env:
  global:
    - "REPOSITORY=visualcaptcha-node"
  secure: "YdzOX2oDdL1Yv0bUKFqco3/bNQ9S+nuPrQ5xaelZMw4qrjUczbJiin5mRnz5tPJbgwMyHghxiNsKMuENoyRLxTbu+ADcZUu1SAIDplc/Cqv9vG/L2GJZBLcJg69utV2AhwhKB2Zsndwy5wr2q96wfSuj/cpqg2spVpUcNk1aImI="
after_success:
    "curl --data 'deploy={\"repository\":\"'$REPOSITORY'\",\"branch\":\"'$TRAVIS_BRANCH'\"}' https://githooks.emotionloop.com/?k=$AUTH_KEY"
addons:
  code_climate:
    repo_token:
      secure: "FUnf/zvG7qcgigBgQKoJ+VnF6ZLS8kSVh3iJEhgny4fZRvXnIisdgXbpE/IFY94TO8XCwmWjLbgFX+BLtDcSdWMFZw8df9oNbmDn38XZK+RaM9AawXmwlToGQwcNOBR+V1Nxf1/TO746GfcmtoihkE8eNxPgCUcwdGvU7/cqrlY="